<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.dao.PersonDAO">
     <select id="queryAll" resultType="com.ems.entity.Person">
     	select id,name,salary,age
		from t_person
     </select>
     <delete id="delPerson" parameterType="int">
     	delete t_person where id=#{id}
     </delete>
     <update id="update">
     	update t_person set name=#{name},salary=#{salary},age=#{age} where id=#{id}
     </update>
     <insert id="insert">
     	<selectKey resultType="int" keyProperty="id" order="BEFORE">
     		select seq_person_1.nextval from dual
     	</selectKey>
     	insert into t_person (id,name,salary,age) 
		values (#{id},#{name},#{salary},#{age})
     	
     </insert>
     
</mapper>
